* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
header {
    padding: 20px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img {
    width: 100px;
}
input {
    display: none;
}
.menu {
    width: 30px;
    height: 16px;
    transition: var(--main-duration);
    display: block;
    position: relative;
}
input:checked + .menu  {
    width: 35px;
    transition: var(--main-duration);
}
.menu-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.menu label {
    cursor: pointer;
}
.menu label:hover span {
    width: 100%;
}
.nav-bar span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 100px;
    transition: var(--main-duration);
}
.nav-bar span:first-of-type {
    margin-bottom: 5px;
    width: 100%;
}
.nav-bar span:nth-child(2) {
    background-color: #333;
    margin-bottom: 5px;
    width: 50%;
}
.nav-bar span:last-of-type {
    background-color: #333;
    width: 100%;
    margin-bottom: 0;
}
input:checked + .menu span:first-of-type {
    width: 50%;
}
input:checked + .menu span:nth-child(2) {
    width: 75%;
}
input:checked + .menu span:last-of-type {
    width: 100%;
}
.menu-checkbox::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: calc(70%);
    display: none;
}
input:checked + .menu .menu-checkbox::after {
    display: block;
}
input:checked + .menu ul {
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    transition: .3s;
}
li {
    text-align: left;
}
a:hover {
    padding-left: 30px;
    transition: .3s;
}
ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
a {
    transition: .3s;
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
.hello-there {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro-text {
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.hello-there h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.hello-there p {
    font-size: 19px;
    line-height: 1.8;
}
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.feat {
    text-align: center;
}
.feat i {
    color: var(--main-color);
}
.feat h3 {
    margin: 30px 0;
    font-weight: 800;
}
.feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.special-heading {
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
}
.special-heading + p {
    color: #979797;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}
@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        font-size: 15px;
        margin: -20px;
    }
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}
.srv {
    display: flex;
    flex-direction: row;
}
.services-content i {
    color: var(--main-color);
    margin-right: 25px;
}
.services-content h3 {
    margin-top: 0;
}
.services-content p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services-content img {
    width: 260px;
}
.services-content .image {
    text-align: center;
    position: relative;
}
@media (max-width: 1199px) {
    .services-content .image {
        display: none;
    }
}
@media (min-width: 1200px) {
    .services-content .image {
        display: block;
    }
}
@media (max-width: 768px) {
    .services-content {
        flex-direction: column;
    }
    .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .services-content i {
        margin: 25px;
    }
}
.services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: -50px;
    z-index: -1;
}
.services-content div.col:last-of-type {
    margin-bottom: +50px;
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 50px;
    gap: 40px;  
}
.portfolio-content img {
    width: 100%;
}
.portfolio-content .info {
    padding: 20px;
}
.portfolio-content .info h3 {
    margin: 0;
}
.portfolio-content .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 200px;    
}
.about-content img {
    width: 260px;
}
.about-content .image {
    margin-top: 100px;
    position: relative;
}
.about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    left: -20px;
    z-index: -1;
}
.about-content .image::after {
    content: "";
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    width: 120px;
    height: 300px;
    top: -40px;
    position: absolute;
    left: calc(260px - 50px);
    z-index: -1;
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
@media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
      gap: 50px;
    }
    .about-content .image {
        margin-top: 50px;
    }
    .about-content .image::before {
        display: none;
    }
    .about-content .image::after {
        display: none;
    }
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 0;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width: 767px) {
    .contact .info .label {
        margin-top: 50px;
    }
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}